.jumbotron {
  text-align: center;
}

main {
  margin: 0 30px;
}

#search-label {
  margin-right: 8px;
}

#search-bar {
  margin-right: 8px;
}

.history-section {
  margin-top: 1em;
}

.weather-icon {
  height: 50px;
  width: 50px;
}

.weather-forecast {
  margin-top: 40px;
}

#weather-icon-div {
  display: inline-block;
  background-color: #007bff;
  width: 50px;
}