.jumbotron {
  text-align: center;
}

main {
  margin: 0 30px;
}

.search-panel {
  /* background-color: lightgray; */
}

.history-section {
  margin-top: 1em;
}

.weather-icon {
  height: 50px;
  width: 50px;
}